<!DOCTYPE html>
<html>
<head>

    <title>Iman's blog</title>

</head>
<body>
    <header>
        <h1><a href="">Travel's Planner!</a></h1>
    </header>

    <article>
        <time>published: 23.08.2023, 11:26</time>
        <h2><a href="">My first post</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem nostrum laboriosam blanditiis, aut labore nihil iste fugit facilis voluptates eius accusamus dignissimos repellendus mollitia ipsam praesentium saepe consequatur id eligendi!</p>
    </article>

    <article>
        <time>published: 23.08.2023</time>
        <h2><a href="">My second post</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur explicabo dolorem necessitatibus vel rerum praesentium officia ratione ex, dolor iusto!</p>
    </article>
    <p>Hi there</p>
    <p>It works</p>
</body>
</html>